1. q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

2. q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

In [1]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

***1***

In [20]:
for i in range(4):
    for j in range(0,i+1):
        print("iNeuron",end=" ")
    print("\n")

iNeuron

iNeuron iNeuron

iNeuron iNeuron iNeuron

iNeuron iNeuron iNeuron iNeuron

***2***


 Print this Pattern
 
           ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [37]:
rows=int(input("No of rows:- "))
for i in range(rows):
    if i<=3:
        n=i
    else:
        n=rows-i
    print(("iNeuron "*n).center(30,' '))

No of rows:- 6

           iNeuron
       iNeuron iNeuron
   iNeuron iNeuron iNeuron
       iNeuron iNeuron
           iNeuron

***3. Try to exract all the list entity***

In [2]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

***4. Try to extract all the dict enteties***

In [3]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

***5. Try to extract all the tuples entities***

In [4]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

***6. Try to extract all the numerical data it may b a part of dict key and values***

In [38]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [47]:
l1=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for j in i:
            if type(j)==int:
                l1.append(j)
    if type(i)==dict:
        for d in i.items():
            for n in d:
                if type(n)==int:
                    l1.append(n)

In [48]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

 ***7 .Try to give summation of all the numeric data***

In [49]:
sum(l1)

156

***8. Try to filter out all the odd values out all numeric data which is a part of a list***

In [51]:
for i in l1:
    if i%2==0:
        pass
    else:
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

***9. Try to extract "ineruon" out of this data***

In [52]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [68]:
l2=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for j in i:
            if j=="ineuron":
                l2.append(j)
    if type(i)==dict:
        for a in i.items():
            for b in a:
                if b=="ineuron":
                    l2.append(b)

In [69]:
l2

['ineuron', 'ineuron']

***10. Try to find out a number of occurances of all the data***

In [71]:
l3=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for j in i:
            if type(j)==int or type(j)==str:
                l3.append(j)
    if type(i)==dict:
        for a in i.items():
            for b in a:
                if type(b)==int or type(b)==str:
                    l3.append(b)

In [72]:
l3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [77]:
for i in set(l3):
    print(i,": ",l3.count(i))

1 :  1
2 :  2
3 :  4
4 :  4
5 :  3
6 :  3
7 :  2
sudh :  1
k2 :  1
ineuron :  2
k3 :  1
8 :  1
45 :  1
data science  :  1
23 :  1
kumar :  1
k1 :  1

***11. Try to find out number of keys in dict element***

In [87]:
l4=[]
for i in l:
    if type(i)==dict:
        for a in i.keys():
            l4.append(a)
            
print(len(l4))

5

 ***12.Try to filter out all the string data***

In [89]:
l3

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [90]:
for i in l3:
    if type(i)== str:
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

***13. Try to Find  out alphanum in data***

In [91]:
for i in l3:
    if type(i)==str:
        if i.isalnum():
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

***14 Try to find out multiplication of all numeric value in  the individual collection inside dataset***

In [109]:
for i in l:
    multi=1
    if type(i)==list or type(i)==set or type(i)==tuple:
        for j in i:
            if type(j)==int:
                multi=multi*j
        print(type(i),multi)
    if type(i)==dict:
        for a in i.items():
            for b in a:
                if type(b)==int:
                    multi= multi*b
        print(type(i),multi)

<class 'list'> 24
<class 'tuple'> 720
<class 'tuple'> 2520
<class 'set'> 20700
<class 'dict'> 1008
<class 'list'> 1

***15. Try to unwrape all the collection inside collection and create a flat list***

In [119]:
l5=[]
for i in l:
    if type(i)==list or type(i)==set or type(i)==tuple:
        for j in i:
            if type(j)==str or type(j)==int:
                l5.append(j)
    if type(i)==dict:
        for a in i.items():
            for b in a:
                if type(b)==int or type(b)==str:
                    l5.append(b)

In [120]:
l5

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']